@import url('https://fonts.googleapis.com/css?family=Nunito')

*
	padding 0
	margin 0
	font-family 'Nunito'

a 
	text-decoration none

.salir 
	position fixed
	color #cecece
	font-size 15px
	top 20px
	right 30px
	transition all 0.3s linear

.salir:hover
	color white

body
	background #333
	
	header
		border-bottom 1px solid rgba(0,0,0,0.1)
		padding  1em 3em 0.2em 3em
		
		h1, a, figure
			display inline-block
			vertical-align middle
			padding 0
			
		a 
			float right
			font-size 20px
			padding 0.5em 0 0 0
			text-transform uppercase
			transition all 0.3s linear
			text-decoration none
		
		a:hover
			color #777
		
		figure
			width 120px 
			margin 0 2em 0.6em 0
			
			img 
				width 100%
	
	h1 
		font-size 40px
		color white
		text-align center
		padding 0.5em 0
	
	#login
		text-align center
		border 0
		
		h1, a, figure
			display block
		
		figure
			margin 0 auto
			width 250px
		
		h1 
			font-size 25px
			padding 1em 0 0 0
	
	#inicio
		width 300px
		margin 4em auto 0 auto
		padding 1em 2em
		
		input
			display block 
			width 100%
			padding 0.5em 0.7em
			border-radius 0.3em
			border 1px solid rgba(0,0,0,0.3)
			margin 0 0 0.5em 0
			background white
		
		input[type='submit']
			color #0000AA
			text-transform uppercase
			width 106.5%
	
	#contenido
		width 1000px
		border 1px solid white
		position relative
		margin 0 auto		
		
		.tanque
			background #111
			border 1px solid white
			border-bottom-left-radius 0.8em
			border-bottom-right-radius 0.8em
			position absolute
			width 200px
			height 125px		
			-webkit-box-shadow -10px 10px 34px -6px rgba(0,0,0,0.75)
			-moz-box-shadow -10px 10px 34px -6px rgba(0,0,0,0.75)
			box-shadow -10px 10px 34px -6px rgba(0,0,0,0.75)
			
			.contenedor
				width 100%
				height 100%
				position relative
				
				.agua 
					background blue
					bottom 0
					left 0
					right 0
					position absolute
					border-bottom-left-radius 0.8em
					border-bottom-right-radius 0.8em
			
			.motores
				width 100%
				height 50px
				position relative
				
				.tubo_v
					height 100%
					width 20px
					border 1px solid white
					position absolute
					background #111
					-webkit-box-shadow -10px 10px 34px -6px rgba(0,0,0,0.75)
					-moz-box-shadow -10px 10px 34px -6px rgba(0,0,0,0.75)
					box-shadow -10px 10px 34px -6px rgba(0,0,0,0.75)
				
				.tubo_h
					width 20px
					height 20px
					border 1px solid white
					position absolute
					background #111
					-webkit-box-shadow -10px 10px 34px -6px rgba(0,0,0,0.75)
					-moz-box-shadow -10px 10px 34px -6px rgba(0,0,0,0.75)
					box-shadow -10px 10px 34px -6px rgba(0,0,0,0.75)
				
				.activo
					background red
					
	
	#logo
		width 200px
		position fixed
		bottom 20px
		right 30px
		
		img 
			width 100%
		
